{# variable 'port_name' should be like 'et-0/0/11' #}
{# or 'et-0/0/12' or 'et-0/0/8' #}
{# Also make sure that dictionary passed to template_vars #}
{# contains keys that matches the variable names that are used here #}
interfaces {
            {{ port_name }} {
    unit 0 {
        family ethernet-switching {
            vlan {
                members default;
            }
            storm-control default;
        }
    }
}
}
